body {
    background-color: #000000;
}

#text {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 72px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: left;
    padding-left: 50px;
    padding-top: 50px;
}
